body{
    background-color: blanchedalmond;
}

.gameContainer{
padding: 40px;
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;

}

#board {
display: grid;
grid-template-columns: repeat(3, 0fr);

}


.box{
height: 150px;
width: 150px;
display: flex;
align-items: center;
justify-content: center;
font-size: 120px;
border-right: 2px solid;
border-top: 2px solid;
border-left: 2px solid;
border-bottom: 2px solid;
}


h1 {
    color: black;
    text-align: center;
}

