body{
    background-color: lightskyblue;
}
h1 {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 70px;
}
section {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    margin-top: 75px;

}

.gameContainer{
display: grid;
grid-template-columns: repeat(3, auto);
width: 150px;
margin: 90px;
margin-bottom: 10px;
margin-top: 10px;
color: white;
text-align: center;
}

.cell {
width: 75px;
height: 75px;
box-shadow: 0 0 0 2px white;
border: 2px solid;
line-height: 75px;
cursor: pointer;
font-size: 50px;

}

.statusText {
    display: block;
    color: white;
    box-shadow: 0 0 0 2px white;
    border: 2px solid;
}
/* button {
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
} */

.cell-X::before {
    content: "X";
  }
  
  .cell-O::before {
    content: "O";
  }

